@using TrainingDomainModel

@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<p>
    Search Product by ID :
    @Html.TextBoxFor(product => product.ProductID) //ini collection, gabisa kalo 1
    <button>Search</button> //pake button submit
    @*<a href="/TP/User/View?UserID=@product.UserID">View </a>*@
</p>
<table style="width:100%">
    <tr style="background-color: silver">
        <th>ProductID</th>
        <th>UserID</th>
        <th>Name</th>
        <th>Qty</th>
        <th>CreatedBy</th>
        <th>CreatedDate</th>
        <th>ModifiedBy</th>
        <th>ModifiedDate</th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        Product product = Model.ElementAt(i);
        <tr>
            <td>@product.ProductID</td>
            <td>@product.UserID</td>
            <td>@product.Name</td>
            <td>@product.Qty</td>
            <td>@product.CreatedBy</td>
            <td>@product.CreatedDate</td>
            <td>@product.ModifiedBy</td>
            <td>@product.ModifiedDate</td>
        </tr>
    }
</table>
<p>
    <br />
    <a href="/TP/User/Users">User List</a>
</p>


