@using TrainingDomainModel

@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>


@using (Html.BeginForm("Products", "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocmpleted = "off" }))
{
    <p>
        Search Product by ProductID :
        @Html.TextBox("ProductID", null)
        <input type="submit" value="Search" />
    </p>
       
        <table style="width:100%">
            <tr style="background-color: silver">
                <th>ProductID</th>
                <th>UserID</th>
                <th>Name</th>
                <th>Qty</th>
                <th>CreatedBy</th>
                <th>CreatedDate</th>
                <th>ModifiedBy</th>
                <th>ModifiedDate</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                Product product = Model.ElementAt(i);
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.UserID</td>
                    <td>@product.Name</td>
                    <td>@product.Qty</td>
                    <td>@product.CreatedBy</td>
                    <td>@product.CreatedDate</td>
                    <td>@product.ModifiedBy</td>
                    <td>@product.ModifiedDate</td>
                </tr>
            }
        </table>
        <p>
            <br />
            <a href="/TP/User/Users">User List</a>
        </p>
        <input type="submit" value="Save" />
   
}


