@using TrainingDomainModel;

@model User

@{
    ViewBag.Title = "Ajax Detail";

}

@Scripts.Render("~/bundles/ajaxdetail")


<div>
    @if (Model != null) // Ini Edit dan View
    {
        <script type="text/javascript">
        var url = '@Url.Action("AjaxDetailSave", "User")'
        </script>
        <p>
            User ID <br />
            @Model.UserID
        </p>
        <p>
            User Name <br />
            @if (ViewBag.Mode == "Edit")
            {
                @Html.TextBoxFor(user => user.UserName)
                <br />
                <span id="validation-msg"  style="color:red"></span>
            }
            else
            {
                @Html.TextBoxFor(user => user.UserName, new { @disabled = "disabled" })
            }
            @*Versi code singkat (seperti if else diatas) sebagai berikut*@
            @*<input id="user" value="@Model.UserName" @(ViewBag.Mode == "Edit" ? "":"disabled")/>*@
        </p>
        <p>
            Full Name <br />
            <input id="UserDetail_FullName" name="UserDetail.FullName" value="@Model.UserDetail.FullName" @(ViewBag.Mode == "Edit" ? "" : "disabled") />
        </p>
        <p>
            Phone <br />
            <input id="UserDetail_Phone" name="UserDetail.Phone" value="@Model.UserDetail.Phone" @(ViewBag.Mode == "Edit" ? "" : "disabled") />
            <br />
            <span id="validation-msg-ph"  style="color:red"></span>
        </p>
        <p>
            Is Active<br />

            @if (ViewBag.Mode == "Edit")
            {
                @Html.CheckBoxFor(user => user.IsActive)
            }
            else
            {
                @Html.CheckBoxFor(user => user.IsActive, new { @disabled = "disabled" })
            }
        </p>

        <p>
            Is Verified<br />
            @if (ViewBag.Mode == "Edit")
            {
                @Html.CheckBoxFor(user => user.IsVerified)
            }
            else
            {
                @Html.CheckBoxFor(user => user.IsVerified, new { @disabled = "disabled" })
            }
        </p>

        @Html.HiddenFor(user => user.UserID)
        @Html.HiddenFor(user => user.CreatedBy)
        @Html.HiddenFor(user => user.CreatedDate)
        @Html.HiddenFor(user => user.UserDetail.UserID)
        @Html.HiddenFor(user => user.UserDetail.CreatedBy)
        @Html.HiddenFor(user => user.UserDetail.CreatedDate)

        if (ViewBag.Mode == "Edit")
        {
            <input id="btn-edit" type="button" value="Save" class="loader" />
        }
        else
        {
            <br />
        }

        <input type="button" onclick="location.href='/TP/User/AjaxUsers'" value="Back" @(ViewBag.Mode == "Edit" ? "" : "hidden") />


        if (ViewBag.mode == "Edit")
        {
            <br />
        }
        else
        {
            <h4>Related Products</h4>
            <table style="width:100%">
                <tr style="background-color:silver">
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Qty</th>
                    <th>CreatedBy</th>
                    <th>CreatedDate</th>
                    <th>ModifiedBy</th>
                    <th>ModifiedDate</th>
                </tr>

                @for (int i = 0; i < Model.Products.Count(); i++)
                {

                    Product product = Model.Products.ElementAt(i);
                    <tr>
                        <td>@product.ProductID</td>
                        <td>@product.Name</td>
                        <td>@product.Qty</td>
                        <td>@product.CreatedBy</td>
                        <td>@product.CreatedDate</td>
                        <td>@product.ModifiedBy</td>
                        <td>@product.ModifiedDate</td>
                    </tr>

                }
            </table>
        }

        <br />
        <input type="button" onclick="location.href='/TP/User/AjaxUsers'" value="Back" @(ViewBag.Mode == "Edit" ? "hidden" : "") />
    }
    else // Ini Input
    {
        <script type="text/javascript">
        var url = '@Url.Action("AjaxDetailSave", "User")'

        </script>


        <p>
            User Name <br />
            @Html.TextBoxFor(user => user.UserName)
            <br />
            <span id="validation-msg"  style="color:red"></span>
        </p>
        <p>
            Full Name<br />
            @Html.TextBoxFor(user => user.UserDetail.FullName)
        </p>
        <p>
            Phone <br />
            @Html.TextBoxFor(user => user.UserDetail.Phone)
            <br />
            <span id="validation-msg-ph" style="color:red"></span>
        </p>
        <p>
            Is Actived<br />
            @Html.CheckBoxFor(user => user.IsActive)
        </p>
        <p>
            Is Verified<br />
            @Html.CheckBoxFor(user => user.IsVerified)
        </p>
        <input id="btn-insert" type="button" value="Save" class="loader" />
        <button type="button" onclick="location.href = '/TP/User/AjaxUsers';">Back</button>

    }
</div>

