@using TrainingDomainModel;

@model User

@{
    ViewBag.Title = "Detail";

}


<div>
    @if (Model != null)
    {
        using (Html.BeginForm("Detail", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocmpleted = "off" }))
        {
            <p>
                User ID <br />
                @Model.UserID

                <br />
                @Model.UserDetail.FullName
            </p>
            <p>
                User Name <br />
                @if (ViewBag.Mode == "Edit")
                {
                    @Html.TextBoxFor(user => user.UserName)
                }
                else
                {
                    @Html.TextBoxFor(user => user.UserName, new { @disabled = "disabled" })
                }
                @*Versi code singkat (seperti if else diatas) sebagai berikut*@
                @*<input id="user" value="@Model.UserName" @(ViewBag.Mode == "Edit" ? "":"disabled")/>*@
            </p>
            <p>
                Full Name <br />
                <input id="full" name="UserDetail.FullName" value="@Model.UserDetail.FullName" @(ViewBag.Mode == "Edit" ? "" : "disabled") />
            </p>
            <p>
                Phone <br />
                <input id="full" name="UserDetail.Phone" value="@Model.UserDetail.Phone" @(ViewBag.Mode == "Edit" ? "" : "disabled") />
            </p>
            <p>
                Is Actived<br />

                @if (ViewBag.Mode == "Edit")
                {
                    @Html.CheckBoxFor(user => user.IsActive)
                }
                else
                {
                    @Html.CheckBoxFor(user => user.IsActive, new { @disabled = "disabled" })
                }
            </p>

            <p>
                Is Verifiedd<br />
                @if (ViewBag.Mode == "Edit")
                {
                    @Html.CheckBoxFor(user => user.IsVerified)
                }
                else
                {
                    @Html.CheckBoxFor(user => user.IsVerified, new { @disabled = "disabled" })
                }
            </p>

            @Html.HiddenFor(user => user.UserID)
            @Html.HiddenFor(user => user.CreatedBy)
            @Html.HiddenFor(user => user.CreatedDate)
            @Html.HiddenFor(user => user.UserDetail.UserID)
            @Html.HiddenFor(user => user.UserDetail.CreatedBy)
            @Html.HiddenFor(user => user.UserDetail.CreatedDate)

            <input type="submit" value="Save" @(ViewBag.Mode == "Edit" ? "" : "hidden") />
        }

        if (ViewBag.mode == "Edit")
            {
                <br />
            }
            else
            {
                <hr />
                <table style="width:100%">
                    <tr>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Qty</th>
                    </tr>

                    @for (int i = 0; i < Model.Products.Count(); i++)
                    {

                        Product product = Model.Products.ElementAt(i);
                        <tr>
                            <td>@product.ProductID</td>
                            <td>@product.Name</td>
                            <td>@product.Qty</td>
                        </tr>

                    }


                </table>
            }

        <input type="button" onclick="location.href='/TP/User/Users'" value="Back" @(ViewBag.Mode == "Edit" ? "hidden" : "") />
    }
    else
    {
        using (Html.BeginForm("Detail", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocmpleted = "off" }))
        {
            <p>
                User Name <br />
                @Html.TextBoxFor(user => user.UserName)
            </p>
            <p>
                Full Name<br />
                @Html.TextBoxFor(user => user.UserDetail.FullName)
            </p>
            <p>
                Phone <br />
                @Html.TextBoxFor(user => user.UserDetail.Phone)
            </p>
            <p>
                Is Actived<br />
                @Html.CheckBoxFor(user => user.IsActive)
            </p>
            <p>
                Is Verifiedd<br />
                @Html.CheckBoxFor(user => user.IsVerified)
            </p>
            <input type="submit" value="Save" />
        }

    }
</div>

