@using TrainingDomainModel;

@model IEnumerable<User>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<table style="width:100%">
    <tr style="background-color: silver">
        <th>UserName</th>
        <th>IsActive</th>
        <th>IsVerified</th>
        <th>CreatedBy</th>
        <th>CreatedDate</th>
        <th>ModifirdBy</th>
        <th>ModifiedDate</th>
        <th></th>
    </tr>
    
    
    
        @for (int i = 0; i < Model.Count(); i++)
        {
            User user = Model.ElementAt(i);
            <tr>
                <td>@user.UserName</td>
                <td>@user.IsActive</td>
                <td>@user.IsVerified</td>
                <td>@user.CreatedBy</td>
                <td>@user.CreatedDate</td>
                <td>@user.ModifiedBy</td>
                <td>@user.ModifiedDate</td>
                <td>
                        <a href="/TP/">View </a> |
                        <a href="/TP/">Edit </a> |
                        <a href="/TP/">Delete </a>
                    
                </td>
            </tr>
        }
    
</table>

