@using TrainingDomainModel;

@model IEnumerable<User>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<p>
    <button type="button" onclick="location.href='/TP/User/Detail'">Insert</button>
</p>

<table style="width:100%">
    <tr style="background-color: silver">
        <th>UserName</th>
        <th>IsActive</th>
        <th>IsVerified</th>
        <th>CreatedBy</th>
        <th>CreatedDate</th>
        <th>ModifirdBy</th>
        <th>ModifiedDate</th>
        <th></th>
    </tr>    
    
        @for (int i = 0; i < Model.Count(); i++)
        {
            User user = Model.ElementAt(i);
            <tr>
                <td>@user.UserName</td>
                <td>
                    @Html.HiddenFor(x => user.IsActive)
                    @if (user.IsActive.ToString() == "True") 
                    {
                        <input type="checkbox" id="active" checked />
                    }
                    else
                    {
                        <input type="checkbox" id="nonactive" />
                    }
                </td>
                <td>
                    @Html.HiddenFor(x => user.IsVerified)
                    @if (user.IsVerified.ToString() == "True")
                    {
                        <img id="check" src="~/Images/check.png" width="20px" height="20px" />
                    }
                    else
                    {
                        <img id="check" src="~/Images/uncheck.png" width="20px" height="20px" />
                    }
                </td>
                <td>@user.CreatedBy</td>
                <td>@user.CreatedDate</td>
                <td>@user.ModifiedBy</td>
                <td>@user.ModifiedDate</td>
                <td>
                        <a href="/TP/User/Detail?UserID=@user.UserID">View </a> | 
                        <a href="/TP/User/Detail">Edit </a> |
                        <a href="/TP/User/Detail">Delete </a>
                </td>
            </tr>
        }
    
</table>

